beautifulsoup4==4.5.1
cssselect==0.9.2
Django==1.10.1
djangorestframework==3.4.6
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.1
jieba3k==0.35.1
lxml==3.6.4
mongoengine==0.10.6
newspaper3k==0.1.7
nltk==3.2.1
Pillow==3.3.1
pymongo==3.3.0
pysolr==3.5.0
python-dateutil==2.5.3
PyYAML==3.12
requests==2.11.1
requests-file==1.4
six==1.10.0
tldextract==2.0.1
watson-developer-cloud==0.19.0
